.skill-header {
  text-align: center;
  font-size: 150%;
  color: rgb(207, 14, 26);
  font-family: fantasy;
  text-shadow: 2px 2px 5px rgb(186, 217, 12, 0.771);
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Myport {
  text-align: center;
  font-size: 230%;
  color: rgb(4, 4, 4);
  font-family: fantasy;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px rgba(184, 22, 22, 0.771);
}
.skill-header2 {
  text-align: left;
  color: rgb(207, 32, 44);
  font-family: fantasy;
  text-shadow: 2px 2px 5px yellow;
}

.skill-header3 {
  text-align: left;
  color: rgb(207, 32, 44);
  font-family: fantasy;
  text-shadow: 2px 2px 5px rgb(31, 222, 62);
}

.skill-container {
  border: inset rgb(207, 32, 44);
  width: 400px;
  margin: auto;
  padding: 16px;
  margin-bottom: 8px;
}

.center-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

.center-link a {
  margin: 0 10px;
}

a.one:link {
  color: red;
}
a.one:visited {
  color: rgb(255, 255, 255);
}
a.one:hover {
  color: rgb(207, 14, 26);
  font-size: 150%;
}
a.one:active {
  color: rgb(255, 0, 0);
}

a.two:link {
  color: #ff0000;
}
a.two:visited {
  color: #0000ff;
}
a.two:hover {
  font-size: 110%;
}
.one {
  text-decoration: none;
  color: inherit;
}

.two {
  text-decoration: none;
  color: inherit;
}
.name-header {
  font-size: 150%;
  color: rgb(4, 4, 4);
  font-family: "Courier New", Courier, monospace;
  text-shadow: 2px 2px 5px rgba(220, 216, 216, 0.771);
  margin: 10px;
  text-align: left;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-bodyy {
  width: 18rem;
  margin: 10px;
}

.btn {
  margin: 0 10px;
}
